section{
  clear: both;
}

p{
  text-align: left;
}

p,li{
  font-size: xx-large;
}

h2 {
    font-size:42px;
  }

  .avatar {
    border-radius: 50%;
    float: left;
  }

  .membre  {
    vertical-align: middle;
  }

  a.btn-primary {
    color: white;
  }

  .reveal .col2 {
    width:50%;
    float:left;
    font-size:24px;
  }

  .fiches .col{
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
    margin: 20px;
    padding: 10px;
  }

  .fiches .col:hover{
    background-color: rgb(74, 74, 74);
  }

  .fiches h5, .fiches h6 {
    height: 2.4em;
  }

  .fiches h6 img {
    width: 2.4em;
  }

.fiches p{
  font-size:24px;
}

.vignette{
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
}

.gauche{
	float:left;
	padding-right:10px;
}

.droite{
	float:right;
	padding-left:10px;
}

.quart{
  width:25%;
}


