/* bertrand.chartier at ac-grenoble.fr
*/

body {
	background-color: #06172a !important;
}

.reveal {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

.bch_ul {
	list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/5/57/FA_star.svg);
	background-size: 3rem 3rem;
}


.onglets{
	display: flex;
	width:100%;
	height:6%;
	color: rgba(255,255,255,0.2);
	text-align:center;
	font-size:2em;
	position: -webkit-sticky;
	position: sticky;
	top:0px;

}
.bleu{
	background-color:rgb(77,120,173);

}
.bleu.focus{
	border-bottom: solid rgb(77,120,173) !important;
}

.orange{
	background-color:rgb(245,141,52);
}

.orange.focus{
	border-bottom: solid rgb(245,141,52) !important;
}

.vert{
	background-color:rgb(161,196,55);
}
.vert.focus{
	border-bottom: solid rgb(161,196,55) !important;
}


.violet{
	background-color:rgb(181,30,85);
}

.violet.focus{
	border-bottom: solid rgb(181,30,85) !important;
}


.onglet{
	margin:2px 2px 0px 2px;
	padding:7px;
	flex:1;
	border-bottom: solid #06172a;
	border-radius: 10px 10px 0 0;
}

.focus a{
	color:white !important;
}

.page_bleu{
	background-color: white;
	margin:0px 200px 20px 2px;
	width:1190px;
	height:650px;	
	border: solid rgb(77,120,173);
}

.page_orange{
	background-color: white;
	margin:0px 2px 0px 2px;
	width:1190px;
	height:650px;	
	border: solid rgb(245,141,52);
}

.page_vert{
	background-color: white;
	margin:0px 2px 0px 2px;
	width:1190px;
	height:650px;	
	border: solid rgb(161,196,55);
}
.page_violet{
	background-color: white;
	margin:0px 2px 0px 2px;
	width:1190px;
	height:650px;	
	border: solid rgb(181,30,85);
}

.container{
	position: absolute;
	bottom: 40px;
	left: 40px;
    width: 200px;
	height:200px;
    overflow:hidden;
    display:block;
	border-radius:100px;
}
#webcam1,#webcam2,#webcam3,#webcam4{
    margin-left: -220px;
}


.item{
color: rgb(60,60,60);
width:90%;text-align:left;
margin-top:50px;
}
.item h2{
	font-weight: 600;
font-size: 42px;
}

.item li{
	margin-left: 150px;
	font-size: 20px;
}
	
.icone{
	width:80px;
	float:left;
}

.onglet a{
	text-decoration: none;
	color:rgba(255,255,255,0.2);
}
.tuile{-webkit-transition: all 1s ease;-moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;margin: 20px;cursor: pointer;border-radius: 20px;box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);width:400px;height:150px;float:left;background-repeat: no-repeat; background-size: contain;}
.tuile:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}

.titre_tuile{font-size: xx-large; font-family: "Dancing Script", cursive; color:black; background-color:rgba(240, 240, 240,.8); text-align: center;margin-top:120px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;} .mr-auto{display:none;} .pb-3{padding-bottom: 0px !important;} .pt-3{padding-top: 0px !important;} .card-body{padding-top: 0px;padding-bottom: 0px;} .fpwonderbox{display:none;}